#posterimg{
    margin-top: 20px;
    margin-right: 20px;
    height: 380px;
    width: 450px;
    box-shadow: 5px 10px 18px #1b1b1bbd;
    border-radius: 20px;
    
}
body,html {
    overflow-x: hidden;
    }
#bg{
    height: 300px;    
    background-image: url(../Media/cool-background.png);
    background-size: cover;
}

#greybg{
    margin-top: 50px;
    background-color: rgba(158, 158, 158, 0.158);
    height: 500px;
    margin-left: 60px;
    margin-right: 60px;
}

@media only screen and (max-width: 1000px) {
    #posterimg{
        margin-top: 50px;
        margin-right: 20px;
        height: 280px;
        width: 350px;
        box-shadow: 5px 10px 18px #1b1b1bbd;
        border-radius: 20px;
    }
    #bg{
        height: 250px;        
        background-image: url(../Media/cool-background.png);
    }
  }
@media only screen and (max-width: 700px) {
    #posterimg{
        margin-top: 50px;
        margin-right: 20px;
        height: 200px;
        width: 270px;
        box-shadow: 5px 10px 18px #1b1b1bbd;
        border-radius: 20px;
    }
    #bg{
        height: 180px;        
        background-image: url(../Media/cool-background.png);
    }
  }

 
  @media only screen and (max-width: 400px) {
    #posterimg{
        margin-top: 50px;
        margin-right: 20px;
        height: 150px;
        width: 230px;
        box-shadow: 5px 10px 18px #1b1b1bbd;
        border-radius: 20px;
        
    }
    #bg{
        height: 130px;
        
        background-image: url(../Media/cool-background.png);
    }

    #greybg{
        margin-top: 50px;
        background-color: rgba(158, 158, 158, 0.158);
        height: 500px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    
  }