#posterimg{
    margin-top: 20px;
    margin-right: 20px;
    height: 400px;
    width: 400px;
    box-shadow: 5px 10px 18px #888888;
    
}

#bg{
    height: 300px;    
    background-image: url(../Media/cool-background.png);
    background-size: cover;
}

.container{
    margin-top: 50px;
    background-color: rgba(158, 158, 158, 0.158);
    height: 500px;
}

@media only screen and (max-width: 600px) {
    #posterimg{
        margin-top: 20px;
        margin-right: 20px;
        height: 200px;
        width: 200px;
        box-shadow: 5px 10px 18px #888888;

    }
    #bg{
        height: 200px;        
        background-image: url(../Media/cool-background.png);
    }
  }

  @media only screen and (max-width: 1000px) {
    #posterimg{
        margin-top: 20px;
        margin-right: 20px;
        height: 300px;
        width: 300px;
        box-shadow: 5px 10px 18px #888888;
    }
  }
  @media only screen and (max-width: 400px) {
    #posterimg{
        margin-top: 20px;
        margin-right: 20px;
        height: 150px;
        width: 150px;
        box-shadow: 5px 10px 18px #888888;
    }
    #bg{
        height: 150px;
        
        background-image: url(../Media/cool-background.png);
    }
  }