@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

.gr-2  {
  background: linear-gradient(170deg, #0d469b 0%, rgb(148, 203, 255) 100%);
}
.gr-1  {
  background: linear-gradient(170deg, #9bc3ff 0%, rgb(8, 204, 122) 100%);
}

* {
  transition: .5s;
}

.align-middle {
  position: relative;
  top: 10%;
}

.column {
  margin-top: 3rem;
  padding-left: 3rem;
}
.column:hover {
  padding-left: 0;
}
.column:hover .card .txt {
  margin-left: 1rem;
}
.column:hover .card .txt h1, .column:hover .card .txt p {
  color: rgb(0, 0, 0);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
}
.column:hover a {
  color: white;
}
.column:hover a:after {
  width: 10%;
}

.card {
  min-height: 170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: black;
  letter-spacing: .05rem;
  font-family: 'Oswald', sans-serif;
  box-shadow: 5px 10px 18px #1b1b1bbd;
  border-radius: 15px;
}
.card .txt {
  margin-left: -3rem;
  z-index: 1;
}
.card .txt h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.712);
  color: rgb(255, 255, 255);
}
.card .txt p {
  font-size: .7rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0rem;
  margin-top: 33px;
  opacity: 0;
  color: rgb(10, 245, 225);
}
.card a {
  z-index: 3;
  font-size: .7rem;
  color: black;
  margin-left: 1rem;
  position: relative;
  
}
.card a:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0;
  margin-left: 10px;
  border-top: 1px solid white;
  transition: .5s;
}
.card .ico-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card i {
  position: relative;
  right: -50%;
  top: 60%;
  font-size: 12rem;
  line-height: 0;
  opacity: .2;
  color: rgb(12, 221, 248);
  z-index: 0;
}
