<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPO</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/7e09aa574b.js"></script>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/landingpage.css">
    <link rel="stylesheet" href="/styles/landingpage2.css">
    <link rel="stylesheet" href="/styles/landingpage3.css">
    
</head>


<body>
    
    <nav class="navbar navbar-expand-lg navbar-mainbg" id='navnav'>
        <a class="navbar-brand navbar-logo">TPO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/media/hamburger.png" alt="">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/admin/login"></i>Admin login</a>
                </li>
               
                <li class="nav-item ">
                  <a class="nav-link" href="/contact">Contact Us</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Student Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="bg">
        
        <img id="posterimg" src="/media/poster4.png" alt="" >
    </div>
 
    <div class="fluid-container h-100" id='cardcontainer'>
        <div class="row align-middle">
            <div class="col-md-6 col-lg-3 column">
                <div class="card gr-2">
                  <div class="txt">
                    <h1><b>student login </b></h1>
                    <p><button class="btn btn-dark"><a href="/student">Learn More</a></button></p>
                  </div>
                  <a href="/users/login">Student profile, resume and more</a>
                <div class="ico-card">
                 
                </div>
                </div>
              </div>
          <div class="col-md-6 col-lg-3 column">
            <div class="card gr-2">
              <div class="txt">
                <h1><b>Find opportunities</b></h1>
                <p><button class="btn btn-dark">Learn More</button></p>
              </div>
              <a href="/viewposting">Available internships and jobs</a>
            <div class="ico-card">
             
            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 column">
            <div class="card gr-2">
              <div class="txt">
                <h1><b>Preparation Corner</b></h1>
                <p><button class="btn btn-dark">Learn More</button></p>
              </div>
              <a href="/prep" target="_blank">Resources to ace your Interview</a>
            <div class="ico-card">
              
            </div>
            </div>
          </div>
      <div class="col-md-6 col-lg-3 column">
            <div class="card gr-2">
              <div class="txt">
                <h1><b>Discussion forum</b></h1>
                <p><button class="btn btn-dark">Learn More</button></p>
              </div>
              <a href="">Discuss with your peers when in doubt</a>
            <div class="ico-card">
              
            </div>
            </div>
          </div>
          
        </div>
      </div>
    
     
  
   
    
    
    <script src="/styles/landingpage.js"></script> 
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
   
</body>


</html>