<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Profile Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="./styles/studentprofilecss/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="./styles/studentprofilecss/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <!--<div class="signup-img">
                    <img src="images/signup-img.jpg" alt="">
                </div> -->
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form" action="/users/profileform">
                        <h2>student profile form</h2>
                        <div class="form-group">
                            <label for="college_roll">College Roll number :</label>
                            <input type="text" name="rno" id="college_roll" required/>
                        </div>
                        
                        <div class="form-group">
                            <label for="branch">Branch :</label>
                            <div class="form-select">
                                <select name="branch" id="branch">
                                    <option value="cs">Computer Science and Engineering</option>
                                    <option value="it">Information Technology</option>
                                    <option value="ece">Electronics and Communication</option>
                                </select>
                                <span class="select-icon" style="color: whitesmoke;"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>


<br>
<!--EDUCATION-->
                        <div>
                        <h2>Education Details</h2>
                        <!--College details-->
                        <div class="form-row">
                            
                           
                            <center><div class="form-group">
                                    <label for="marks">Average GPA in College:</label>
                                    <input type="number" name="gpa" id="marks" required/>
                                </div></center>
                           

                            <center><div class="form-group">
                                <label for="marks">Percentage in XIIth:</label>
                                <input type="number" name="perc" id="marks" required/>
                            </div></center>
                        </div>
                       

                    </div>

<!--Skills-->
                <div>
                    <h2>Skills</h2>
                    <h4>Please upload drive link having your certificates or a doc link having links to your project repo/coding platform to validate each skill that you tick.</h4>
                    <fieldset>
                    <div class="form-group">
                        <label for="lang">Programming Languages:</label>
                        <div class="form-select">
                            <select name="lang1" id="lang">
                                <option value="">Language 1</option>
                                <option value="cpp">C++</option>
                                <option value="py">Python</option>
                                <option value="java">Java</option>
                                <option value="c">C</option>
                            </select>
                            <span class="select-icon" style="color: whitesmoke;"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="form-select">
                            <select name="lang2" id="lang">
                                <option value="">Language 2</option>
                                <option value="cpp">C++</option>
                                <option value="py">Python</option>
                                <option value="java">Java</option>
                                <option value="c">C</option>
                            </select>
                            <span class="select-icon" style="color: whitesmoke;"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                       
                        <div class="form-select">
                            <select name="lang3" id="lang">
                                <option value="">Language 3</option>
                                <option value="cpp">C++</option>
                                <option value="py">Python</option>
                                <option value="java">Java</option>
                                <option value="c">C</option>
                            </select>
                            <span class="select-icon" style="color: whitesmoke;"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div>

                    <div>
                        <label for="lang">Supporting Link</label>
                        <input type="url" name="langlink">
                    </div>
                    <div>
                        
                    </div>
                </fieldset>
                      <fieldset>
                        <div class="form-group">
                            <label for="lang">Technologies:</label>
                            <div class="form-select">
                                <select name="tech1" id="lang">
                                    <option value="">Select Tech 1</option>
                                    <option value="appdev">App Dev</option>
                                    <option value="mldl">Machine Learning/Deep Learning</option>
                                    <option value="webdev">Web Dev</option>
                                </select>
                                <span class="select-icon" style="color: whitesmoke;"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lang">Technologies:</label>
                            <div class="form-select">
                                <select name="tech2" id="lang">
                                    <option value="">Select Tech 2</option>
                                    <option value="appdev">App Web/Web Dev</option>
                                    <option value="mldl">Machine Learning/Deep Learning</option>
                                    <option value="webdev"></option>
                                </select>
                                <span class="select-icon" style="color: whitesmoke;"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>

                        <div>
                            <label for="lang">Supporting Link</label>
                            <input type="url" name="techlink">
                        </div>
                        
                      </fieldset>

                    </div>

                    <br>

<!--Projects-->
                

<!--Achievements-->


<!--Experiences-->       
                
    <!--Resume-->
        <div>
            <h2>Resume</h2>
            <fieldset>
                <legend>Upload your Resume here</legend>
                <input type="file" id="myFile" name="filename">

            </fieldset>
        </div> 


                        
                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="./styles/studentprofilecss/jquery/jquery.min.js"></script>
    <script src="./styles/studentprofilecss/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
