<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/7e09aa574b.js"></script>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/landingpage.css">
    <link rel="stylesheet" href="/styles/landingpage2.css">
    <link rel="stylesheet" href="/styles/login.css">
    
</head>


<body>
    
    <nav class="navbar navbar-expand-lg navbar-mainbg" id='navnav'>
        <a class="navbar-brand navbar-logo">TPO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/media/hamburger.png" alt="">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item active">
                    <a class="nav-link" href="">Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="javascript:void(0);">Contact Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout"></i>Logout</a>
                </li>               
            </ul>
        </div>
    </nav>
    <div id="bluebg">    
        
        <% if(typeof errors != 'undefined') { %>
            <% errors.forEach(error => { %>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <%=error.message %>
                </div>
            <% }) %>
        <% } %>
    
        <% if(messages.success_msg) { %>
            <div class="alert pos">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <%= messages.success_msg %>
            </div>
        <% } %>
       

<div class="cont postjob">
  
    <div class="form">
      <form action="/users/profileform" method="POST">
        <h1>FILL DETAILS</h1>
        <center>
        <input type="text"
               class="user"
               placeholder="Roll Number"
               name="rno">
        <select name="branch" id="branch" class="user" style="text-align-last: center;">
            <option value="" disabled selected>Branch</option>
            <option value="cs">Computer Science</option>
            <option value="it">Information Technology</option>
            <option value="ece">Electronics and Communication Engineering</option>
        </select>
        <input type="number"
               class="user"
               placeholder="CGPA"
               name="gpa" min="0" max="10"/>
        <input type="number"
               class="user"
               placeholder="Percentage"
               name="perc" min="0" max="100"/>
        <select name="lang1" id="lang1" class="user" style="text-align-last: center;">
            <option value="" disabled selected>Language 1</option>
            <option value="cs">C++</option>
            <option value="it">C</option>
            <option value="py">Python</option>
            <option value="java">Java</option>
            <option value="haskell">Haskell</option>
            <option value="rust">Rust</option>
            <option value="go">Go</option>
        </select>
        <select name="lang2" id="lang2" class="user" style="text-align-last: center;">
            <option value="" disabled selected>Language 2</option>
            <option value="cs">C++</option>
            <option value="it">C</option>
            <option value="py">Python</option>
            <option value="java">Java</option>
            <option value="haskell">Haskell</option>
            <option value="rust">Rust</option>
            <option value="go">Go</option>
        </select>
        <select name="tech1" id="tech1" class="user" style="text-align-last: center;">
            <option value="" disabled selected>Technology 1</option>
            <option value="webdev">Web Development</option>
            <option value="appdev">App Development</option>
            <option value="mldl">Machine Learning / Deep Learning</option>
            <option value="blockchain">Blockchain</option>
            <option value="arvr">Augmented Reality / Virtual Reality</option>
            <option value="gamedev">Game Development</option>
        </select>
        <select name="tech2" id="tech2" class="user" style="text-align-last: center;">
            <option value="" disabled selected>Technology 1</option>
            <option value="webdev">Web Development</option>
            <option value="appdev">App Development</option>
            <option value="mldl">Machine Learning / Deep Learning</option>
            <option value="blockchain">Blockchain</option>
            <option value="arvr">Augmented Reality / Virtual Reality</option>
            <option value="gamedev">Game Development</option>
        </select>
        <input type="url" 
               class="pass"
               placeholder="Link to Resume"
               name="resumelink"/>
        <input type="url" 
               class="pass"
               placeholder="Link to Drive Folder for Certificates"
               name="drivelink"/><br>
        <button class="login" type="submit">Submit</button>
    </center>
      </form>
    </div>
    
  
  </div>
        
    </div>
    
    
    
    
    
    <script src="/styles/landingpage.js"></script> 
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>


</html>