<!DOCTYPE html>

<html>
    <title>Job/Intern Post</title>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/post.css"> 
    </head>
<body>
<div class="post-box">
    <h1>Company_Name invites number_of_postings new job_role job/intern</h1>
    <!--For eg: TCS invites 25 new software engineer interns-->
    <div class="details">
        Company/Organization: TCS <br><br>
        Job/Role: Software Developer <br><br>
        Job/Intern: Job <br><br>
        Package/Stipend: 50,000 per month <br><br>
        Skills Required: Problem Solving, C++, Python <br><br>
        Cut-off GPA: 7.5 <br><br>
        Maximum Back Logs Allowed: 1 <br><br>
    </div>
    <br>
    <br>
    <a href="#"> <!--Get the link to apply over here-->
        <input type="url" id="apply_link" value="Apply Now">
    </a>
</div>

</body>

</html>
